@import "variables";

@import '../../dwca-lib/src/all';
@import 'components/layout/Divider';
@import 'components/layout/Navbar';
@import 'components/pages/DatasetPageFormPage/FinalSummary/FinalSummary';
@import 'components/pages/ManageUsersPage';
@import 'components/pages/UserFormPage';


@import 'forms';

html {
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--regular-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--lightbackground);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  color: inherit;
  margin-bottom: var(--margin-bottom);
}

a {
  color: var(--link-color);
}

/* Override Bulma style */
.button.is-info:hover,
.button.is-info.is-hovered {
  background-color: darken($blue, 5%);
}

main h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom:var(--margin-bottom);
  font-weight: bold;
}
