$section-padding: 0.5rem;

@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma-calendar/src/sass/index';
@import '../../node_modules/bulma-calendar/src/sass/timepicker';
@import '../../node_modules/bulma-checkradio/src/sass/index';
@import 'components/form/InputRadio';
@import 'components/layout/Divider';
@import 'components/pages/Occurrence/BasicData/BasicData';
@import 'components/pages/Occurrence/CopyPreviousData';
@import 'components/pages/Occurrence/DarwinCoreFields/DarwinCoreFields';
@import 'components/pages/Occurrence/LocationData/LocationData';
@import 'components/pages/Occurrence/LocationData/LocationPicker';
@import 'components/pages/Occurrence/LocationData/LocationPickerModal';
@import 'components/pages/Occurrence/MeasurementOrFact/MeasurementOrFact';
@import 'components/pages/Occurrence/ObservationData/ObservationData';
@import 'components/pages/Occurrence/SelectDataset/SelectDataset';
@import 'components/pages/Occurrence/StepHeader';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
