.occurrence-data {
  margin-bottom: 1.25rem;

  .dropdown {
    display: block;

    .dropdown-content {
      max-height: 15em;
      overflow: auto;
    }

    .dropdown-menu {
      width: 100%;
    }
  }

  .field {
    .label {
      small {
        font-size: 0.75em;
        font-style: italic;
      }
    }
  }

  .event-begin-date {
    .datetimepicker-clear-button {
      display: none;
    }
  }

  .input-radio-group {
    margin-right: 180px;
  }
}
