.step-header {
  cursor: pointer;

  &.step-0 {
    background-color: darken($info, 40%);
  }

  &.step-1 {
    background-color: darken($info, 30%);
  }

  &.step-2 {
    background-color: darken($info, 20%);
  }

  &.step-3 {
    background-color: darken($info, 10%);
  }

  &.step-4 {
    background-color: darken($info, 0%);
  }

  .details {
    text-align: right;

    .check-circle {
      color: lighten($info, 20%);
      margin-right: 6px;
    }

    .step-title:hover {
      text-decoration: underline;
    }
  }
}
