.step-header {
  cursor: pointer;

  @for $i from 0 through 100 {
    &.background-color-#{$i} {
      background-color: darken($info,  $i * 1%);
    }
  }

  .details {
    text-align: right;

    .check-circle {
      color: lighten($info, 20%);
      margin-right: 6px;
    }

    .step-title:hover {
      text-decoration: underline;
    }
  }
}
