.manage-users-page {
  .users {
    margin-top: var(--margin-top);

    .user-row {
      .datasets {
        ul {
          list-style-type: disc;
        }
      }
    }
  }
}

a.button.new {
  background-color: var(--obis-green);
  margin-bottom: var(--margin-bottom);

  &:hover {
    background-color: lighten($obis-green, 10%);
  }
}
