.previous-occurrences {
  margin-top: var(--margin-top);
  .occurrence-row {
    .edit {
      width: 5%;
    }

    .added-at {
      width: 10%;
    }

    .scientific-name {
      width: 10%;
    }

    .dataset-title {
      width: 55%;
    }

    .occurrence-date {
      width: 15%;
    }

    .copy {
      width: 5%;
    }
  }
}

a.button.new-occurrence {
  background-color: var(--obis-green);
  margin-bottom: var(--margin-bottom);

  &:hover {
    background-color: lighten($obis-green, 10%);
  }
}

a.button.is-info.copy-previous-entry {
  background-color: $stepbackground;
}
