.previous-occurrences {
  .occurrence-row {
    .edit {
      width: 5%;
    }

    .added-at {
      width: 10%;
    }

    .scientific-name {
      width: 10%;
    }

    .dataset-title {
      width: 55%;
    }

    .occurrence-date {
      width: 15%;
    }

    .copy {
      width: 5%;
    }
  }
}
