.navbar {
  .navbar-menu .navbar-start a {
    font-family: var(--title-font);

    &.navbar-item{
    color: var(--font-color);
    }

    &.navbar-item.is-active, &.navbar-item:hover {
      background-color: #28a745;
    }

  }
  .navbar-brand {
    p {
      padding-right: 10px;
      font-size: 26px;
      font-weight: bold;
    }
  }

  /* Override bulma styles*/
  &.is-info {
    background-color: transparent;
  }

}
