.final-summary {
  .final-summary-title {
    margin-bottom: 1.5rem;
  }

  .submit-entry-button {
    margin-bottom: 1.5rem;
  }

  section {
    margin-bottom: 1.5rem;
  }

  .name-value-row {
    .name {
      width: 20%;
    }

    .value {
      width: 80%;
    }
  }

  .measurements {
    .type {
      width: 60%
    }

    .unit {
      width: 20%
    }

    .value {
      width: 20%
    }
  }
}
