.final-summary {
  .name-value-row {
    .name {
      width: 20%;
    }

    .value {
      width: 80%;
    }
  }

  .measurements {
    .type {
      width: 60%
    }

    .unit {
      width: 20%
    }

    .value{
      width: 20%
    }
  }
}
